{{define "title"}}{{ .Registration.Domain }}{{end}}

{{define "content"}}
    <a href="/">back to timeline</a>
    <a href="/knots">back to all knots</a>
    <h1>{{.Registration.Domain}}</h1>
    <p>
      <code>
        opened by: {{.Registration.ByDid}}
        {{ if eq $.User.Did $.Registration.ByDid }}
        (you)
        {{ end }}
      </code><br>
      <code>on: {{.Registration.Created}}</code><br>
      {{ if .Registration.Registered }}
      <code>registered on: {{.Registration.Registered}}</code>
      {{ else }}
      <code>pending registration</code>
      <button hx-post="/knots/{{.Domain}}/init">initialize</button>
      {{ end }}
    </p>

    {{ if .Registration.Registered }}
    <h3> members </h3>
    <ol>
    {{ range $.Members }}
    <li><a href="/{{.}}">{{.}}</a></li>
    {{ else }}
    <p>no members</p>
    {{ end }}
    {{ end }}
    </ol>

    {{ if $.IsOwner }}
    <h3>add member</h3>
    <form hx-put="/knots/{{.Registration.Domain}}/member">
        <label for="member">did or handle:</label>
        <input type="text" id="member" name="member" required>
        <button type="text">add member</button>
    </form>
    {{ end }}
{{end}}
