{{ define "title" }}issues &middot; {{ .RepoInfo.FullName }}{{ end }}

{{ define "repoContent" }}
    <div class="flex justify-between items-center">
        <div class="error" id="issues"></div>
        <a
            href="/{{ .RepoInfo.FullName }}/issues/new"
            class="btn flex items-center gap-2 no-underline"
        >
            <i data-lucide="square-plus" class="w-5 h-5"></i>
            <span>new issue</span>
        </a>
    </div>

    <section id="issues" class="mt-8 space-y-4">
        {{ range .Issues }}
            <div class="border border-gray-200 p-4 mx-4 hover:bg-gray-50">
                <time class="float-right text-sm">
                    {{ .Created | timeFmt }}
                </time>
                <div class="flex items-center gap-2 py-2">
                    {{ if .Open }}
                        <i
                            data-lucide="circle-dot"
                            class="w-4 h-4 text-green-600"
                        ></i>
                    {{ else }}
                        <i data-lucide="ban" class="w-4 h-4 text-red-600"></i>
                    {{ end }}
                    <a
                        href="/{{ $.RepoInfo.FullName }}/issues/{{ .IssueId }}"
                        class="no-underline hover:underline"
                    >
                        {{ .Title }}
                    </a>
                </div>
                <div class="text-sm flex gap-2 text-gray-400">
                    <span>#{{ .IssueId }}</span>
                    <span class="before:content-['·']">
                        opened by
                        {{ $owner := index $.DidHandleMap .OwnerDid }}
                        <a
                            href="{{ $owner }}"
                            class="no-underline hover:underline"
                            >{{ $owner }}</a
                        >
                    </span>
                </div>
            </div>
        {{ end }}
    </section>
{{ end }}
