{{ define "title" }}issues &middot; {{ .RepoInfo.FullName }}{{ end }}

{{ define "repoContent" }}
    <div class="flex justify-between items-center">
        <p>
        filtering
        <select class="font-bold border border-gray-200 rounded" onchange="window.location.href = '/{{ .RepoInfo.FullName }}/issues?state=' + this.value">
          <option value="open" {{ if .FilteringByOpen }}selected{{ end }}>open</option>
          <option value="closed" {{ if not .FilteringByOpen }}selected{{ end }}>closed</option>
        </select>
        issues
        </p>
        <a
            href="/{{ .RepoInfo.FullName }}/issues/new"
            class="btn text-sm flex items-center gap-2 no-underline hover:no-underline">
            <i data-lucide="plus" class="w-5 h-5"></i>
            <span>new issue</span>
        </a>
    </div>
    <div class="error" id="issues"></div>
{{ end }}

{{ define "repoAfter" }}
<div class="flex flex-col gap-2 mt-8">
  {{ range .Issues }}
  <div class="rounded drop-shadow-sm bg-white px-6 py-4">
    <div class="pb-2">
      <a
          href="/{{ $.RepoInfo.FullName }}/issues/{{ .IssueId }}"
          class="no-underline hover:underline"
          >
          {{ .Title }}
          <span class="text-gray-400">#{{ .IssueId }}</span>
      </a>
    </div>
    <p class="text-sm text-gray-400">
      {{ $bgColor := "bg-gray-800" }}
      {{ $icon := "ban" }}
      {{ $state := "closed" }}
      {{ if .Open }}
          {{ $bgColor = "bg-green-600" }}
          {{ $icon = "circle-dot" }}
          {{ $state = "open" }}
      {{ end }}

      <span class="inline-flex items-center rounded px-2 py-[5px] {{ $bgColor }} text-sm">
          <i data-lucide="{{ $icon }}" class="w-3 h-3 mr-1.5 text-white"></i>
          <span class="text-white">{{ $state }}</span>
      </span>

      <span>
        {{ $owner := index $.DidHandleMap .OwnerDid }}
        <a href="/{{ $owner }}">{{ $owner }}</a>
      </span>

      <span class="before:content-['·']">
        <time>
          {{ .Created | timeFmt }}
        </time>
      </span>

      <span class="before:content-['·']">
        {{ $s := "s" }}
        {{ if eq .Metadata.CommentCount 1 }}
        {{ $s = "" }}
        {{ end }}
        <a href="/{{ $.RepoInfo.FullName }}/issues/{{ .IssueId }}" class="text-gray-400">{{ .Metadata.CommentCount }} comment{{$s}}</a>
      </span>
    </p>
  </div>
  {{ end }}
</div>
{{ end }}
