{{ define "title" }}
    {{ .Issue.Title }} &middot;
    {{ .RepoInfo.FullName }}
{{ end }}

{{ define "repoContent" }}
    <div class="flex items-center justify-between">
        <h1>
            {{ .Issue.Title }}
            <span class="text-gray-400">#{{ .Issue.IssueId }}</span>
        </h1>

        <time class="text-sm">{{ .Issue.Created | timeFmt }}</time>
    </div>

    {{ $bgColor := "bg-gray-800" }}
    {{ $icon := "ban" }}
    {{ if eq .State "open" }}
        {{ $bgColor = "bg-green-600" }}
        {{ $icon = "circle-dot" }}
    {{ end }}


    <section>
        <div class="flex items-center gap-2">
            <div
                id="state"
                class="inline-flex items-center px-3 py-1 {{ $bgColor }}"
            >
                <i
                    data-lucide="{{ $icon }}"
                    class="w-4 h-4 mr-1.5 text-white"
                ></i>
                <span class="text-white">{{ .State }}</span>
            </div>
            <span class="text-gray-400 text-sm">
                opened by
                {{ $owner := didOrHandle .Issue.OwnerDid .IssueOwnerHandle }}
                <a href="/{{ $owner }}" class="no-underline hover:underline"
                    >{{ $owner }}</a
                >
            </span>
        </div>

        {{ if .Issue.Body }}
            <article id="body" class="mt-8 border border-gray-300 px-4 py-6">
                {{ .Issue.Body | escapeHtml }}
            </article>
        {{ end }}
    </section>

    <hr class="my-10" />

    <section id="comments" class="mt-8 space-y-4 relative">
        {{ range $index, $comment := .Comments }}
            <div
                id="comment-{{ .CommentId }}"
                class="border border-gray-200 p-4 relative"
            >
                {{ if ne $index 0 }}
                    <div
                        class="absolute left-8 -top-4 w-px h-4 bg-gray-200"
                    ></div>
                {{ end }}
                <div class="flex items-center gap-2 mb-2">
                    {{ $owner := index $.DidHandleMap .OwnerDid }}
                    <span class="text-gray-400 text-sm">
                        <a
                            href="{{ $owner }}"
                            class="no-underline hover:underline"
                            >{{ $owner }}</a
                        >
                    </span>
                    <a
                        href="#{{ .CommentId }}"
                        class="text-gray-500 text-sm hover:text-gray-500 hover:underline no-underline"
                        id="{{ .CommentId }}"
                    >
                        {{ .Created | timeFmt }}
                    </a>
                </div>
                <div class="">
                    {{ nl2br .Body }}
                </div>
            </div>
        {{ end }}
    </section>

    {{ if .LoggedInUser }}
        <form
            hx-post="/{{ .RepoInfo.FullName }}/issues/{{ .Issue.IssueId }}/comment"
            class="mt-8"
        >
            <textarea
                name="body"
                class="w-full p-2 border border-gray-200"
                placeholder="Add to the discussion..."
            ></textarea>
            <button type="submit" class="btn mt-2">comment</button>
            <div id="issue-comment"></div>
        </form>
    {{ end }}

    {{ if eq .LoggedInUser.Did .Issue.OwnerDid }}
        {{ $action := "close" }}
        {{ $icon := "circle-x" }}
        {{ $hoverColor := "red" }}
        {{ if eq .State "closed" }}
            {{ $action = "reopen" }}
            {{ $icon = "circle-dot" }}
            {{ $hoverColor = "green" }}
        {{ end }}
        <form
            hx-post="/{{ .RepoInfo.FullName }}/issues/{{ .Issue.IssueId }}/{{ $action }}"
            hx-swap="none"
            class="mt-8"
        >
            <button type="submit" class="btn hover:bg-{{ $hoverColor }}-300">
                <i
                    data-lucide="{{ $icon }}"
                    class="w-4 h-4 mr-2 text-{{ $hoverColor }}-400"
                ></i>
                <span class="text-black">{{ $action }}</span>
            </button>
            <div id="issue-action" class="error"></div>
        </form>
    {{ end }}
{{ end }}
