{{ define "new" }}
<html>
    {{ template "head" . }}

    <body>
        <main>
            <h1>create a new repository</h1>
            <form>
                <p>
                    Give your Git repository a name and, optionally, a
                    description.
                </p>
                <div id="repo"></div>
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" name="name" placeholder="" />
                    <label for="description">Description</label>
                    <input
                        type="text"
                        id="description"
                        name="description"
                        placeholder=""
                    />
                </div>
                <button hx-put="/repo/new" hx-swap="none" type="submit">
                    Submit
                </button>
            </form>
        </main>
    </body>
</html>
{{ end }}
