{{ define "layouts/base" }}
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <script
            src="https://unpkg.com/htmx.org@2.0.4"
            integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+"
            crossorigin="anonymous"
        ></script>
        <title>{{block "title" .}}{{end}}</title>
    </head>
    <body>
        <header class="topbar">
          {{ block "topbar" .}}
          {{ template "layouts/topbar" . }}
          {{end}}
        </header>
        <main class="content">{{block "content" .}}{{end}}</main>
    </body>
</html>
{{ end }}
