{{ define "layouts/base" }}
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <script src="/static/htmx.min.js"></script>
            <link href="/static/tw.css" rel="stylesheet" type="text/css" />
            <title>{{ block "title" . }}{{ end }} · tangled</title>
        </head>
        <body class="bg-slate-100">
          <div class="container mx-auto px-1 pt-4  min-h-screen flex flex-col">
            <header>
              {{ block "topbar" . }}
              {{ template "layouts/topbar" . }}
              {{ end }}
            </header>
            <main class="content grow">{{ block "content" . }}{{ end }}</main>
            <footer class="mt-16">
                {{ block "footer" . }}
                    {{ template "layouts/footer" . }}
                {{ end }}
            </footer>
            <script src="/static/lucide.min.js"></script>
            <script>
              lucide.createIcons();
            </script>
          </div>
        </body>
    </html>
{{ end }}
