{{ define "layouts/base" }}
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <script src="/static/htmx.min.js"></script>
            <link href="/static/tw.css" rel="stylesheet" type="text/css" />
            <title>{{ block "title" . }}tangled{{ end }}</title>
        </head>
        <body class="min-h-screen flex flex-col justify-between">
            <header>
                {{ block "topbar" . }}
                    {{ template "layouts/topbar" . }}
                {{ end }}
            </header>
            <div class="container mx-auto px-1 flex-grow">
                <main class="content">{{ block "content" . }}{{ end }}</main>
                <script src="/static/lucide.min.js"></script>
                <script>
                    lucide.createIcons();
                </script>
            </div>
            <footer class="mt-16 ">
                {{ block "footer" . }}
                    {{ template "layouts/footer" . }}
                {{ end }}
            </footer>
        </body>
    </html>
{{ end }}
