{{ define "layouts/topbar" }}
    <nav class="space-x-4 mb-4 px-6 py-2 rounded bg-white drop-shadow-sm">
        <div class="container flex justify-between p-0">
            <div id="left-items">
                <a href="/" hx-boost="true" class="flex gap-2 font-semibold italic">
                    tangled
                </a>
            </div>
            <div id="right-items" class="flex gap-2">
                {{ with .LoggedInUser }}
                    <a href="/repo/new"hx-boost="true">
                        <i class="w-6 h-6" data-lucide="plus"></i>
                    </a>
                    {{ block "dropDown" . }} {{ end }}
                {{ else }}
                    <a href="/login">login</a>
                {{ end }}
            </div>
        </div>
    </nav>
{{ end }}

{{ define "dropDown" }}
<details class="relative inline-block text-left">
    <summary
        class="cursor-pointer list-none"
    >
        {{ didOrHandle .Did .Handle }}
    </summary>
    <div
        class="absolute flex flex-col right-0 mt-4 p-4 rounded w-48 bg-white border border-gray-200"
    >
        <a href="/{{ didOrHandle .Did .Handle }}">profile</a>
        <a href="/knots">knots</a>
        <a href="/settings">settings</a>
        <a href="/logout" class="text-red-400 hover:text-red-700">logout</a>
    </div>
</details>
{{ end }}
