{{ define "title" }} commit {{ .Diff.Commit.This }} {{ end }}

{{ define "repoContent" }}

{{ $repo := .RepoInfo.FullName }}
{{ $commit := .Diff.Commit }}
{{ $stat := .Diff.Stat }}
{{ $diff := .Diff.Diff }}

<section class="commit">
  <div id="commit-message">
    {{ $messageParts := splitN $commit.Message "\n\n" 2 }}
    <div>
      <p class="pb-2">{{ index $messageParts 0 }}</p>
      {{ if gt (len $messageParts) 1 }}
      <p class="mt-1 cursor-text pb-2 text-sm">{{ nl2br (unwrapText (index $messageParts 1)) }}</p>
      {{ end }}
    </div>
  </div>

  <div class="flex items-center">
      <p class="text-sm text-gray-500">
          <a href="mailto:{{ $commit.Author.Email }}" class="no-underline hover:underline text-gray-500">{{ $commit.Author.Name }}</a>
          <span class="px-1 select-none before:content-['\00B7']"></span>
          {{ timeFmt $commit.Author.When }}
          <span class="px-1 select-none before:content-['\00B7']"></span>
          <span class="font-mono">{{ $stat.FilesChanged }}</span> files <span class="font-mono">(+{{ $stat.Insertions }}, -{{ $stat.Deletions }})</span>
          <span class="px-1 select-none before:content-['\00B7']"></span>
      </p>

      <p class="flex items-center text-sm text-gray-500">
          <a href="/{{ $repo }}/commit/{{ $commit.This }}" class="no-underline hover:underline text-gray-500">{{ slice $commit.This 0 8 }}</a>
          {{ if $commit.Parent }}
          <i class="w-3 h-3 mx-1" data-lucide="arrow-left"></i>
          <a href="/{{ $repo }}/commit/{{ $commit.Parent }}" class="no-underline hover:underline text-gray-500">{{ slice $commit.Parent 0 8 }}</a>
          {{ end }}
      </p>
  </div>
  
  <div class="diff-stat">
    <br>
    <strong>jump to</strong>
    {{ range $diff }}
    <ul>
      <li><a href="#file-{{ .Name.New }}">{{ .Name.New }}</a></li>
    </ul>
    {{ end }}
  </div>
</section>

{{end}}

{{ define "repoAfter" }}

{{ $repo := .RepoInfo.FullName }}
{{ $commit := .Diff.Commit }}
{{ $stat := .Diff.Stat }}
{{ $diff := .Diff.Diff }}

  {{ $this := $commit.This }}
  {{ $parent := $commit.Parent }}

  {{ $last := sub (len $diff) 1 }}
  {{ range $idx, $hunk := $diff }}
  {{ with $hunk }}
  <section class="mt-4 border border-gray-200 w-full mx-auto">
    <div id="file-{{ .Name.New }}">
      <div id="diff-file">
        <details open>
          <summary class="list-none cursor-pointer sticky top-0">
            <div id="diff-file-header" class="border-b cursor-pointer bg-white border-gray-200 flex justify-between">
              <div id="left-side-items" class="p-2">
                {{ if .IsNew }}
                <span class="diff-type p-1 mr-1 font-mono text-sm bg-green-100 rounded text-green-700 select-none">A</span>
                {{ end }}
                {{ if .IsDelete }}
                <span class="diff-type p-1 mr-1 font-mono text-sm bg-red-100 rounded text-red-700 select-none">D</span>
                {{ end }}
                {{ if not (or .IsNew .IsDelete) }}
                <span class="diff-type p-1 mr-1 font-mono bg-gray-100 text-sm rounded text-gray-700 select-none">M</span>
                {{ end }}

                <a href="/{{ $repo }}/blob/{{ $this }}/{{ .Name.New }}" class="no-underline hover:underline">{{ .Name.New }}</a>
              </div>

              {{ $iconstyle := "p-1 mx-1 hover:bg-gray-100 rounded" }}
              <div id="right-side-items" class="p-2 flex items-center">
                <a title="top of file" href="#file-{{ .Name.New }}" class="{{ $iconstyle }}"><i class="w-4 h-4" data-lucide="arrow-up-from-line"></i></a>
                {{ if gt $idx 0 }}
                  {{ $prev := index $diff (sub $idx 1) }}
                  <a title="previous file" href="#file-{{ $prev.Name.New }}" class="{{ $iconstyle }}"><i class="w-4 h-4" data-lucide="arrow-up"></i></a>
                {{ end }}

                {{ if lt $idx $last }}
                  {{ $next := index $diff (add $idx 1) }}
                  <a title="next file" href="#file-{{ $next.Name.New }}" class="{{ $iconstyle }}"><i class="w-4 h-4" data-lucide="arrow-down"></i></a>
                {{ end }}
              </div>

            </div>
          </summary>

          {{ if .IsBinary }}
            <p>Not showing binary file.</p>
          {{ else }}
            <pre class="overflow-auto">
            {{- range .TextFragments -}}
              <div class="bg-gray-100 text-gray-500 select-none">{{ .Header }}</div>
              {{- range .Lines -}}
                  {{- if eq .Op.String "+" -}}
                  <div class="bg-green-100 text-green-700 p-1"><span class="select-none mr-2">{{ .Op.String }}</span><span>{{ .Line }}</span></div>
                  {{- end -}}

                  {{- if eq .Op.String "-" -}}
                  <div class="bg-red-100 text-red-700 p-1"><span class="select-none mr-2">{{ .Op.String }}</span><span>{{ .Line }}</span></div>
                  {{- end -}}

                  {{- if eq .Op.String " " -}}
                  <div class="text-gray-500 px"><span class="select-none mr-2">{{ .Op.String }}</span><span>{{ .Line }}</span></div>
                  {{- end -}}

              {{- end -}}
            {{- end -}}
            </pre>
          {{- end -}}

        </details>

      </div>
    </div>
  </section>
  {{ end }}
  {{ end }}

{{end}}
