{{ define "title" }}{{ .RepoInfo.FullName }}{{ end }}

{{ define "repoContent" }}
    <main>
        <p class="text-center pt-5 text-gray-400">
            This is an empty repository. Push some commits here.
        </p>
    </main>
{{ end }}

{{ define "repoAfter" }}
    <section class="mt-4 p-6 rounded bg-white w-full mx-auto overflow-auto">
        <strong>push</strong>
        <pre>
 git remote add origin git@tangled.sh:{{ .RepoInfo.OwnerWithAt }}/{{ .RepoInfo.Name }} </pre
        >
        <strong>clone</strong>
        <pre>
 git clone https://tangled.sh/{{ .RepoInfo.OwnerWithAt }}/{{ .RepoInfo.Name }}
 git clone git@tangled.sh:{{ .RepoInfo.OwnerWithAt }}/{{ .RepoInfo.Name }}
 </pre
        >
    </section>
{{ end }}
