{{define "title"}} {{ or .UserHandle .UserDid }} / {{ .Name }} {{end}}

{{define "content"}}
{{- $id := "" -}}
{{- if .UserHandle -}}
  {{- $id = printf "@%s" .UserHandle -}}
{{- else -}}
  {{- $id = .UserDid -}}
{{- end -}}

<h1>
{{ $id }} / {{ .Name }}
</h1>
    <main>
      <div class="log">
        {{ range .Commits }}
        <div>
          <div><a href="/{{ $id }}/{{ $.Name }}/commit/{{ .Hash.String }}" class="commit-hash">{{ slice .Hash.String 0 8 }}</a></div>
          <pre>{{ .Message }}</pre>
        </div>
        <div class="commit-info">
          {{ .Author.Name }} <a href="mailto:{{ .Author.Email }}" class="commit-email">{{ .Author.Email }}</a>
          <div>{{ .Author.When.Format "Mon, 02 Jan 2006 15:04:05 -0700" }}</div>
        </div>
        {{ end }}
      </div>
{{- if .Readme }}
      <article class="readme">
        {{- .Readme -}}
      </article>
{{- end -}}

      <div class="clone-url">
      <strong>clone</strong>
        <pre>
git clone https://tangled.sh/{{ $id }}/{{ .Name }}
        </pre>
      </div>
    </main>
{{end}}

