{{define "title"}}new repo{{end}}

{{define "content"}}
<h1>new repo</h1>
<form method="POST" action="/repo/new">
    <label for="name">repo name</label>
    <input type="text" id="name" name="name" required />

    <br>

    <fieldset>
      <legend>select a knot:</legend>
      {{ range .Knots }}
      <label>
        <input type="radio" name="domain" value="{{ . }}"> {{ . }}
      </label><br>
      <button type="submit">create repo</button>
      {{ else }}
      <p>no knots available</p>
      {{ end }}
    </fieldset>

</form>
{{end}}
