{{define "title"}} {{ .RepoInfo.FullName }} {{end}}

{{define "content"}}

<h1>
{{ .RepoInfo.FullName }}
</h1>
    <main>
      <div class="tree">

        {{ if .Parent }}
        <div></div>
        <div></div>
        <div><a href="/{{ .RepoInfo.FullName }}/tree/{{ .Ref }}/{{ .DotDot }}">..</a></div>
        {{ end }}

        {{ range .Files }}
        {{ if not .IsFile }}
        <div class="mode">{{ .Mode }}</div>
        <div class="size">{{ .Size }}</div>
        <div>
          {{ if $.Parent }}
          <a href="/{{ .RepoInfo.FullName }}/tree/{{ $.Ref }}/{{ $.Parent }}/{{ .Name }}">{{ .Name }}/</a>
          {{ else }}
          <a href="/{{ .RepoInfo.FullName }}/tree/{{ $.Ref }}/{{ .Name }}">{{ .Name }}/</a>
          {{ end }}
        </div>
        <hr />
        {{ end }}
        {{ end }}

        {{ range .Files }}
        {{ if .IsFile }}
        <div class="mode">{{ .Mode }}</div>
        <div class="size">{{ .Size }}</div>
        <div>
          {{ if $.Parent }}
          <a href="/{{ $.RepoInfo.FullName }}/blob/{{ $.Ref }}/{{ $.Parent }}/{{ .Name }}">{{ .Name }}</a>
          {{ else }}
          <a href="/{{ $.RepoInfo.FullName }}/blob/{{ $.Ref }}/{{ .Name }}">{{ .Name }}</a>
          {{ end }}
        </div>
        <hr />
        {{ end }}
        {{ end }}
      </div>
    </main>
  {{end}}
