<html>
    {{ template "layouts/head" . }}

    <body>
        <main>
            <form class="form-login" method="post" action="/login">
                <p>
                    You will be redirected to bsky.social (or your PDS) to
                    complete login.
                </p>
                <div>
                    <input
                        type="text"
                        id="username"
                        name="username"
                        placeholder="@username.bsky.social"
                    />
                    <input
                        type="password"
                        id="app_password"
                        name="app_password"
                        placeholder="app password"
                    />
                </div>
                <button type="submit">Login</button>
            </form>
        </main>
    </body>
</html>