{{ define "fragments/repoDescription" }}
<span id="repo-description" hx-target="this" hx-swap="outerHTML">
    {{ if .RepoInfo.Description }}
        {{ .RepoInfo.Description }}
    {{ else }}
        <span class="italic">this repo has no description</span>
    {{ end }}

    {{ if .RepoInfo.Roles.IsOwner }}
    <button class="bg-gray-200 uppercase rounded p-1 ml-1 hover:bg-gray-400 font-mono text-sm" hx-get="/{{ .RepoInfo.FullName }}/description/edit">
      edit
    </button>
    {{ end }}
</span>
{{ end }}
