{{ define "user/login" }}
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <script src="/static/htmx.min.js"></script>
            <link rel="stylesheet" href="/static/tw.css" type="text/css" />
            <title>login</title>
        </head>
        <body class="flex items-center justify-center min-h-screen">
            <main class="max-w-64">
                <h1 class="text-center text-2xl font-semibold italic">tangled</h1>
                <form
                    class="w-full"
                    hx-post="/login"
                    hx-swap="none"
                    hx-disabled-elt="this"
                >
                    <div class="flex flex-col">
                        <label for="handle">handle</label>
                        <input type="text" id="handle" name="handle" required />
                    </div>

                    <div class="flex flex-col mt-2">
                        <label for="app_password">app password</label>
                        <input
                            type="password"
                            id="app_password"
                            name="app_password"
                            required
                        />
                    </div>

                    <button
                        class="btn w-full my-2 mt-6"
                        type="submit"
                        id="login-button"
                    >
                        <span>login</span>
                    </button>

                </form>
                <p class="text-sm text-gray-500">Repository creation is currently invite-only. Join our IRC on <code>#tangled</code> on Libera Chat for an invite!</p>
                <p class="text-sm text-gray-500 pt-2">Read an introduction to Tangled <a href="https://blog.tangled.sh/intro">here</a>.</p>
                <p id="login-msg" class="error w-full"></p>
            </main>
        </body>
    </html>
{{ end }}
