{{ define "user/login" }}
    <!doctype html>
    <html lang="en">
        <head>
            <meta charset="UTF-8" />
            <meta
                name="viewport"
                content="width=device-width, initial-scale=1.0"
            />
            <script src="/static/htmx.min.js"></script>
            <link rel="stylesheet" href="/static/tw.css" type="text/css" />
            <title>login</title>
        </head>
        <body>
            <main class="content">
                <h1>login</h1>
                <form method="POST" action="/login">
                    <label for="handle">handle</label>
                    <input type="text" id="handle" name="handle" required />

                    <label for="app_password">app password</label>
                    <input
                        type="password"
                        id="app_password"
                        name="app_password"
                        required
                    />

                    <button
                        class="bg-blue-500 text-white font-bold py-2 px-4 rounded"
                        type="submit"
                    >
                        login
                    </button>
                </form>
            </main>
        </body>
    </html>
{{ end }}
