{{ define "title" }}{{ or .UserHandle .UserDid }}{{ end }}

{{ define "content" }}
    <h1>
        <h1>{{ didOrHandle .UserDid .UserHandle }}</h1>
    </h1>
    <section>
        <h2 class="text-xl font-semibold mb-4">repos</h2>
        <ul id="my-knots" class="space-y-4">
            {{ range .Repos }}
                <li class="p-4 bg-gray-50 rounded-lg">
                    <div class="font-mono">
                        <div class="mb-2">
                            name:
                            <a
                                href="/@{{ or $.UserHandle $.UserDid }}/{{ .Name }}"
                                class="text-blue-600 hover:text-blue-800"
                                >{{ .Name }}</a
                            >
                        </div>
                        <div>
                            knot:
                            {{ .Knot }}
                        </div>
                    </div>
                </li>
            {{ else }}
                <p class="text-gray-600">does not have any repos yet</p>
            {{ end }}
        </ul>
    </section>
{{ end }}
